NODE_ENV=development

# database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASS=123
DATABASE_DATABASE=ecommerce

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_ACCESS_SECRET=secret
JWT_ACCESS_EXPIRATION=3600
REFRESH_TOKEN_SECRET=secret-secret
REFRESH_TOKEN_EXPIRATION=360000